<div class="row mx-4">
    <div class="col">

        <div class="row">
            <div class="col">
                <app-sty-bk-search></app-sty-bk-search>
            </div>
        </div>

        <div class="row mt-4 border-bottom">
            <div class="col-12">
                300+ stays
            </div>
            <div class="col-12  mb-2">
                <h2>Stays in Montreal</h2>
            </div>
            <div class="col-12 my-2">
                <button type="button" class="btn btn-outline-secondary  rounded-pill mr-1">
                    Cancellation flexibility
                </button>
                <button type="button" class="btn btn-outline-secondary  rounded-pill mr-1">
                    Type of place
                </button>
                <button type="button" class="btn btn-outline-secondary  rounded-pill mr-1">
                    Price
                </button>
                <button type="button" class="btn btn-outline-secondary  rounded-pill mr-1">
                    More filters
                </button>
            </div>
            <div class="col-12  my-2">
                Enter dates and number of guests to see the total price per night. Tourism taxes may be added.
            </div>
        </div>        

        <div class="row">
            <div class="col">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
</div>