<div class="row py-4 justify-content-center">
    <div class="col">
        <div class="">
            <span class="dropdown-item-text">
                <h6>About</h6>
            </span>
            <a class="dropdown-item" href="#">Diversity & Belonging</a>
            <a class="dropdown-item" href="#">Accessibility</a>
            <a class="dropdown-item" href="#">Trust & Safety</a>
            <a class="dropdown-item" href="#">Trust & Safety</a>
            <a class="dropdown-item" href="#">Newsroom</a>
        </div>
    </div>

    <div class="col">
        <div class="">
            <span class="dropdown-item-text">
                <h6>COMMUNITY</h6>
            </span>
            <a class="dropdown-item" href="#">Airbnb Magazine</a>
            <a class="dropdown-item" href="#">Airbnb for Work</a>
            <a class="dropdown-item" href="#">Invite friends</a>
            <a class="dropdown-item" href="#">Careers</a>
        </div>
    </div>

    <div class="col">
        <div class="">
            <span class="dropdown-item-text">
                <h6>Host</h6>
            </span>
            <a class="dropdown-item" href="#">Host your home</a>
            <a class="dropdown-item" href="#">Host an experience</a>
            <a class="dropdown-item" href="#">Responsible hosting</a>
            <a class="dropdown-item" href="#">Open Homes</a>
            <a class="dropdown-item" href="#">Olympics</a>
            <a class="dropdown-item" href="#">Resource Centre</a>
        </div>
    </div>

    <div class="col">
        <div class="">
            <span class="dropdown-item-text">
                <h6>SUPPORT</h6>
            </span>
            <a class="dropdown-item" href="#">Help Centre</a>
            <a class="dropdown-item" href="#">Neighbourhood Support</a>
        </div>
    </div>
</div>