<div class="row">
    <div class="col-10">
        <h2><b>Amazing View of Downtown Montreal</b></h2>
        <p>Montréal</p>
    </div>
    <div class="col-2">
        <img src="assets/imgs/user/1.jpg" width="128" height="128" class="img-fluid rounded-circle">
        <p>Megane</p>
    </div>
</div>

<div class="row border-bottom my-2 py-2">
    <div class="col-auto">
        {{ item.guests }} guests
    </div>
    <div class="col-auto">
        {{ item.beds }}  bed
    </div>
    <div class="col-auto">
        {{ item.bath }}  bath
    </div>
</div>

<div class="row border-bottom my-2 py-2">
    <div class="col">
        <div *ngFor="let itemSummary of item.summary" class="col mb-2">
            <app-sty-bk-dt-ov-summary [item]="itemSummary"></app-sty-bk-dt-ov-summary>
        </div>
    </div>
</div>

<div class="row my-3 py-3">
    <div class="col">
        {{ item.desc }}
    </div>
</div>