<nav class="nav flex-column bg-light sidebar d-none d-sm-block ">
    <div class="sidebar-sticky">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-link" routerLink="/trips" routerLinkActive="active">Reservations</a>
      <a class="nav-link" routerLink="/hosting" routerLinkActive="active">Listings</a>
    </div>
  </nav>
  
  <nav class="navbar navbar-expand navbar-light bg-light d-block d-sm-none fixed-top side-bar-shortcut">
    <div class="navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-link" routerLink="/trips" routerLinkActive="active">Reservations</a>
        <a class="nav-link" routerLink="/hosting" routerLinkActive="active">Listings</a>
      </div>
    </div>
  </nav>

