<div class="row no-gutters">
    <div class="col border border-dark">
        <img src="assets/imgs/stay/{{ id }}.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col">
        <div class="row no-gutters">
            <div class="col-6 border border-dark">
                <img src="assets/imgs/stay/{{ id }}.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-6 border border-dark">
                <img src="assets/imgs/stay/{{ id }}.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-6 border border-dark">
                <img src="assets/imgs/stay/{{ id }}.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-6 border border-dark">
                <img src="assets/imgs/stay/{{ id }}.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>