#inputEmail,#inputPassword {
    border-width: 0;
    height: 56px;
}

button{
    height: 48px;
    
}

.invalidFormControl{
    border : 1px solid red;
    background-color: var(--danger);
    ;opacity:0.1;
}
