<div class="shadow-sm row" role="search" style="border-radius: 21px; min-height: 48px; min-width: 260px; max-width: 100%;">
        
    <div class="col border-right p-0">
      <button class="btn btn-outline-secondary" style="border-width: 0px; height: 100%; width: 100%;;" data-index="0" type="button">
        <span style="display: none;">Location</span><span>Montreal, Canada</span>
      </button>          
    </div>
  
    <div class="col border-right p-0">
      <button class="btn btn-outline-secondary" style="border-width: 0px; height: 100%; width: 100%;" data-index="0" type="button">
        <span style="display: none;">Check-in / Checkout</span><span>Add dates</span>
      </button>
    </div>
  
    <div class="col p-0">
      <button class="btn btn-outline-secondary" style="border-width: 0px; height: 100%; width: 100%;" data-index="0" type="button">
        <span style="display: none;">Add Guests</span><span>Add guests</span>
      </button>      
    </div>

    <div class="col-auto p-o">
      <button class="btn btn-outline-secondary" style="border-width: 0px; height: 100%; width: 100%;" aria-label="Search" type="button">
        <svg style="display:block;fill:none;height:16px;width:16px;stroke:currentColor;stroke-width:4;overflow:visible"
          aria-hidden="true" role="presentation" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
          <g fill="none">
            <path
              d="m13 24c6.0751322 0 11-4.9248678 11-11 0-6.07513225-4.9248678-11-11-11-6.07513225 0-11 4.92486775-11 11 0 6.0751322 4.92486775 11 11 11zm8-3 9 9">
            </path>
          </g>
        </svg>
      </button>
    </div>
    
  </div>