<div class="row border rounded mx-3 p-3">
    <div class="col-auto">

        <div class="row border-bottom py-2">
            <div class="col">
                <h4><b>Add dates for prices</b></h4>
                <span><i class="fas fa-star"></i> 4.65 209 reviews</span>
            </div>
        </div>

        <div class="row py-2">
            <div class="col">
                <form [formGroup]="formReserve" (ngSubmit)="submitReserve()">
                    <div class="form-group">
                        <label for="inputDates">Dates</label>
                        <div class="row lex-nowrap" id="inputDates">
                            <div class="col-5">
                                <input type="date" formControlName="checkin" class="form-control" id="inputCkechin"
                                    placeholder="Check-in">
                                    <small class="form-text text-danger px-2" *ngIf="validateForm(formReserve.controls.checkin, 'required')"> <i class="fas fa-exclamation-circle"></i> Checkin is required</small>
                            </div>
                            <div class="col-2">
                                <div aria-hidden="true" role="presentation"><svg viewBox="0 0 24 24" role="presentation"
                                        aria-hidden="true" focusable="false"
                                        style="height: 24px; width: 24px; fill: currentcolor;">
                                        <path
                                            d="m0 12.5a.5.5 0 0 0 .5.5h21.79l-6.15 6.15a.5.5 0 1 0 .71.71l7-7v-.01a.5.5 0 0 0 .14-.35.5.5 0 0 0 -.14-.35v-.01l-7-7a .5.5 0 0 0 -.71.71l6.15 6.15h-21.79a.5.5 0 0 0 -.5.5z"
                                            fill-rule="evenodd"></path>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-5">
                                <input type="date" formControlName="checkout" class="form-control" id="inputCkechout"
                                    placeholder="Check-out">
                                    <small class="form-text text-danger px-2" *ngIf="validateForm(formReserve.controls.checkout, 'required')"> <i class="fas fa-exclamation-circle"></i> Checkout is required</small>
                            </div>
                        </div>                       
                        
                    </div>
                    <div class="form-group">
                        <label for="inputGuests">Guests</label>
                        <select formControlName="guests" id="inputGuests" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <small class="form-text text-danger px-2" *ngIf="validateForm(formReserve.controls.guests, 'required')"> <i class="fas fa-exclamation-circle"></i> Guest numbers is required</small>
                    </div>
                    <div class="form-group py-2">
                        <button type="button" (click)="submitReserve()" class="btn btn-block btn-danger">Add dates</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>